<h1 id="fb-welcome"></h1>

<div id="fb-root"></div>

<ul>
  <li class="well" >
    <button id="fb-button" class="btn btn-primary"><i class="fa fa-facebook" ></i> Connect Facebook Page Tab</button>
  </li>
</ul>

<script type="text/javascript">

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '402079716609857',
      xfbml      : true,
      version    : 'v2.2'
    });

    // ADD ADDITIONAL FACEBOOK CODE HERE

    $('#fb-button').on('click', function(){
              FB.ui({
                  method: 'pagetab'

                }, function(response){

                    console.log(response);
                    console.log(response.tabs_added);

                    $.ajax({

                        url: '/facebook_page',
                        type: 'post', 
                        data: {'user_id': '<% if current_user %><%= current_user.id %><% end %>', 
                                'fb_page_id': parseInt(Object.keys(response.tabs_added)[0]), 'app_data': parseInt(Object.keys(response.tabs_added)[0])
                              },
                        app_data: {'fb_page_id': parseInt(Object.keys(response.tabs_added)[0])},

                        dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
                    }).success(function(json){
                        //act on result.
                        console.log("success");
                    });

                });

        });



    function onLogin(response) {
		  if (response.status == 'connected') {
		    FB.api('/me?fields=first_name', function(data) {
		      var welcomeBlock = document.getElementById('fb-welcome');
		      welcomeBlock.innerHTML = 'Hello ' + data.first_name + ',';
		    });
		  }
		}

		FB.getLoginStatus(function(response) {
		  // Check login status on load, and if the user is
		  // already logged in, go directly to the welcome message.
		  if (response.status == 'connected') {
		    onLogin(response);
		  } else {
		    // Otherwise, show Login dialog first.
		    FB.login(function(response) {
		      onLogin(response);
		    }, {scope: 'user_friends, email'});
		  }
		});


  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
	
	// Place following code after FB.init call.



</script>