<div class="jumbotron text-center">

  <div class="arrow-up-large pull-center"><h3><i class="glyphicon glyphicon-eye-open white"></i></h3></div>
  <h1>Welcome to ArtUp</h1>
  <p>A simple service for artists and art lovers to discover eachother.</p>
  <p><a class="btn btn-primary btn-lg" href="<%= new_user_registration_path %>">Learn more</a></p>
</div>