<br/>
<br/>

<div class="jumbotron text-center">

  <div class="arrow-up-large pull-center"><h3><i class="glyphicon glyphicon-eye-open white"></i></h3></div>
  <h1>Welcome to artup.io</h1>
  <p>A free service for artists and art-lovers to discover each other.</p>
  <!-- <p><a class="btn btn-primary btn-lg" href="<%= new_user_registration_path %>">Join Us</a></p> -->
  <br/>
  <small>We're in private beta, if you have and feedback or suggestions,<br/> please email <a href="mailto:hello@artup.io" >hello@artup.io</a> Thanks!</small>


  <!-- ul class="">
  	<li style="margin-top:20px;">
            <a href="https://twitter.com/artupio" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow</a>
        </li>
        <li style="margin-top:10px;">
        <div class="fb-like" data-href="https://facebook.com/891873480824467" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
        </li>


     </ul> -->
</div>



<style type="text/css">
	

	main  {
		background-image: url('<%= @featured.last.image.url() %>');
		background-size: cover !important;

	min-height:1200px;

	}

</style>