<br/>
<br/>

<div class="jumbotron text-center">

  <div class="arrow-up-large pull-center"><h3><i class="glyphicon glyphicon-eye-open white"></i></h3></div>
  <h1>Welcome to ArtUp.io</h1>
  <p>A simple service to help artists and art-lovers discover each other.</p>
  <p><a class="btn btn-primary btn-lg" href="<%= new_user_registration_path %>">Join Us</a></p>
  <br/>
  <small>We're in public beta, if you have and feedback or suggestions,<br/> please email <a href="mailto:hello@artup.io" >hello@artup.io</a> Thanks!</small>
</div>



<style type="text/css">
	

	main  {
		background-image: url('<%= @featured.last.image.url() %>');
		background-size: cover !important;

	min-height:1200px;

	}

</style>