<header>
<br/>
<h1><%= link_to @user.name, vanity_url_path(@user.profile) if @user.name %></h1>
</header>
<p>Email: <%= @user.email if @user.email && current_user && current_user.admin? %></p>

<ol>
<% @user.pieces.each do |piece| %>
	<li><%= link_to piece.title, piece %></li>
<% end %>
</ol>