<div>
<%= link_to cl_image_tag(@piece.image.url(:embed).split("/").last, :transformation=>[
        {:width=>500, :height=>500,  :crop=>:fill}, {  :overlay => "tosuhfxnwvtfojrgtf23.png", 
             :gravity => :south_west, :x => 5, :y => 5, :width => 50, :radius => 10 }]),  user_piece_url(:user_slug => @piece.user.profile.slug, :id => @piece), :target => "_blank", :class => "img-responsive" %>
</div>
<style type="text/css">
	img {
		width:500px;
	}
	iframe {
		border:none !important;
	}
</style>
