
<br/>
<h1 class="text-centered">Featured Pieces</h1>
<hr/>

<div class="row">
	<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
			<% @pieces.limit(8).each do |piece| %>
				<%= render 'shared/piece', :piece => piece %>
			<% end %>

			</div>
				<%= paginate @pieces, :html => {:class => "pagination"} %>
				

</div>