<h1>Trending Pieces</h1>
<hr/>
<ul >
    <% @pieces.each do |piece| %>
      <li class="clearfix">
        <%= link_to image_tag(piece.image.url(:small), :class =>'pull-left'), piece %>
        <h2><%= link_to piece.title, piece %>
        <small>by <%= link_to piece.user.name, piece.user %></small>
        </h2>
        <p>
        <label class="label pull-left"><%= piece.views.to_i %> views</label>
 		</p>
      </li>
    <% end %>

</ul>
