<div class="row clearfix">

<div class="col-md-12">
    <h1><%= image_tag(@profile.image.url, :class => "img-circle", :width => '75px') if @profile.image.url  %>
    <%=  link_to @profile.display_name || @profile.user.name, vanity_url_path(@profile.slug),  :target => "_blank"   %></h1>

  </div>
</div>
  <hr/>

  
