/* Paper
 * Bootswatch
 *= require_self
 *= require paper/loader
 *= require paper/bootswatch
*/

ul {
	margin: 0px !important;
	padding: 0px !important;
}

ul li {
	list-style: none;
}

.arrow-up {
	width: 0px; 
	height: 20px; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 30px solid black;
	margin-right: 10px;
	padding-top: 15px;
}

.arrow-up i {
	margin-top:10px;
	margin-left: -5px;
}

.white, .white a {
  color: #fff;
}