/* Paper
 * Bootswatch
 *= require_self
 *= require paper/loader
 *= require paper/bootswatch
*/

main {
	margin-top: 60px !important;
}

ul {
	margin: 0px !important;
	padding: 0px !important;
}

ul li {
	list-style: none;
}

.arrow-up {
	width: 0px; 
	height: 20px; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 30px solid black;
	margin-right: 10px;
	padding-top: 15px;
}

.arrow-up i {
	margin-top:10px;
	margin-left: -6px;
}

.arrow-up-large {
	width: 0px; 
	height: 80px; 
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-bottom: 80px solid black;
	margin-right: 40px;
	padding-top: 45px;
}

.arrow-up-large i {
	margin-top:10px;
	margin-left: -16px;
}

.pull-center {
	margin: 0 auto;
}

.white, .white a {
  color: #fff;
}


@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('@{icon-font-path}@{icon-font-name}.eot');
  src: font-url('@{icon-font-path}@{icon-font-name}.eot?#iefix') format('embedded-opentype'),
       font-url('@{icon-font-path}@{icon-font-name}.woff') format('woff'),
       font-url('@{icon-font-path}@{icon-font-name}.ttf') format('truetype'),
       font-url('@{icon-font-path}@{icon-font-name}.svg#glyphicons-halflingsregular') format('svg');
}

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");