<button class="btn btn-default pull-right btn-success white" ><%= mail_to 'contact+category@artup.uo', raw('<i class="glyphicon glyphicon-envelope"></i> Suggest a New Category') %></button>

<h1>Categories</h1>

<hr/>
<div class="row clearfix">
<% @categories.each do |category| %>
	<div class="col-md-3" >
      <h2><%= link_to category.name, category %></h2>
      <%= link_to image_tag(pieces(category).first.image.url(:mini)), category %>
    </div>
<% end %>