<h1>Categories</h1>
<hr/>
    <% @categories.each do |category| %>
      <h2><%= link_to category.name, category %></h2>
      <%= link_to image_tag(pieces(category).last.image.url(:mini)), category %>
    <% end %>