<%# add navigation links to this file %>

<li><%= link_to raw('<i class="glyphicon glyphicon-upload"></i> Upload'), new_piece_path %></li>
<li><%= link_to raw('<i class="glyphicon glyphicon-star"></i> Featured'), featured_path %></li>
<li><%= link_to raw('<i class="glyphicon glyphicon-info-sign"></i> About'), about_path('about') %></li>